---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/sections/About.astro";
import Footer from "../components/Footer.astro";
import FloatingButtons from "../components/FloatingButtons.astro";
---

<Layout
    title="Quiénes Somos | Ecofamil S.A.C. - Expertos en Gestión Ambiental"
    description="Conoce a Ecofamil S.A.C., empresa líder en gestión de residuos con más de 10 años de experiencia en el sector minero e industrial del Perú. Misión, visión y valores."
>
    <Navbar />
    <main>
        <About />
    </main>
    <Footer />
    <FloatingButtons />
</Layout>
